{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="login-body">
    <div class="login-fullscreen login-page">
        <div class="login-container login-form">
            <h2>¿Olvidaste tu contraseña?</h2>
            <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecerla.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-primary">Restablecer mi contraseña</button>
            </form>
            <p class="login-register-link">
                <a href="{% url 'account_login' %}">Volver a iniciar sesión</a>
            </p>
        </div>
    </div>
</body>
</html>
