{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Establecer nueva contraseña</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="login-body">
    <div class="login-fullscreen login-page">
        <div class="login-container login-form">
            <h2>Establecer nueva contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-primary">Guardar nueva contraseña</button>
            </form>
        </div>
    </div>
</body>
</html>
