{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo Enviado</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="login-body">
    <div class="login-fullscreen login-page">
        <div class="login-container login-form">
            <h2>Correo enviado</h2>
            <p>Te hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
            <a href="{% url 'account_login' %}" class="btn-primary">Volver al login</a>
        </div>
    </div>
</body>
</html>
